 .bg-1 { 
      background-color: #DAF7A6; /* Green */
      color: #ffffff;
      text-align: center
  }


h1 {
    color: darkblue;
    text-align: center;
    font-family: garamond;
    font-size: 80px;
}

p {
	color: black;
    text-align: center;
    font-family: garamond;
    font-size: 32px;
}


button {
	color: black;
    text-align: center;
    font-family: garamond;
    font-size: 32px;
    background-color: lightblue;
    border-radius: 10px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#smol {
    color: black;
    text-align: center;
    font-family: garamond;
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    text-align: center;
}

.container button{
    background-color: #40739e;
    font-size: 30px;
}

#userstring {
    text-align: center;
}

 err {
     color: white;
     text-align: center;
     font-family: garamond;
     font-size: 64px;
     width: 40%;
     margin-left: 30%;
     margin-right: 30%;
 }

 .area {
     width: 600px;
     height: 300px;

     position: relative;
 }

 .bubble {


     color: white;
     position: absolute;
     left: 350px;
     top: 21px;
     width: 400px;
     height: 300px;
     display: table;

     align: center;
 }

 .bubble p {
     color: white;
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     font-size: 60px;
 }