

h1 {
    color: darkblue;
    text-align: center;
    font-family: garamond;
    font-size: 100px;
}

p {
	color: white;
    text-align: center;
    font-family: garamond;
    font-size: 60px;
}


button {
	color: black;
    text-align: center;
    font-family: garamond;
    font-size: 60px;
    background-color: lightblue;
}

.container button{
    background-color: #40739e;
    font-size: 30px;
}